body {
	background-image: url("https://i.pinimg.com/originals/be/5e/d9/be5ed9156ebe73571b57ebfdc28655a4.jpg"), url("paper.gif");
	background-size:100pt;
	background-color: #cccccc;
  }


.selektor2 {
	font-family: Bowlby One; 
}

