body {
    background-color: rgb(201, 238, 158);
}


h1 {
    text-align: center;
    font-family: fantasy;
    /*Partyfuchs Titel*/
}


h2 {
    text-align: center;
    font-size: initial;
    font-style: oblique;
    font-family: sans-serif;
    text-decoration: underline;
    /*Rezepte*/
}


h3 {
    text-align: center;
    font-size: initial;
    font-style: oblique;
    font-family: sans-serif;
    /*Titel Getränke auf Quellenseite*/
}


h4{
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-family: fantasy;
    /*Musikvorschläge Titel*/
}


h5 {
    text-decoration: inherit;
    font-size: 18px
    /*Navigationszeile*/
}


h6 {
    font-size: 90%;
    /*Inhalt der Navigationszeile*/
}


#Rezept1 {
    font-family: sans-serif;
   }
    
   table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
   }
    
   td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
   }
    
   th {
    background-color: rgb(235,235,235);
   }
    
   td {
    text-align: center;
   }
    
   tr:nth-child(even) td {
    background-color: rgb(250,250,250);
   }
    
   tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
   }
    
   caption {
    padding: 10px;
   }
   /*Tabelle für Zutaten bei Getränke*/

   .grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    }

    .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    }

    @media only screen and (min-width: 768px) {
        .item1 { grid-column: 1 / span 12; grid-row: 1; }
        .item2 { grid-column: 1 / span 6; grid-row: 2; }
        .item3 { grid-column: 7 / span 6; grid-row: 2; }
        .item4 { grid-column: 1 / span 3; grid-row: 3; }
        .item5 { grid-column: 4 / span 6; grid-row: 3; }
        .item6 { grid-column: 10 / span 3; grid-row: 3; }
        .item7 { grid-column: 1 / span 4; grid-row: 4; }
        .item8 { grid-column: 5 / span 8; grid-row: 4; }  