body {
    background-color: rgb(201, 238, 158);
}

.m1{
    float: left;
}

.m2{
    float: right;
}

h1 {
    text-align: center;
    font-family: fantasy;
    /*Partyfuchs Titel*/
}


h2 {
    text-align: center;
    font-weight: 900;
    font-size: 1,1em
    font-style: oblique;
    font-family: fantasy;
    font-variant: normal;
    text-shadow: 2px 2px 2px white, 5px 5px 10px black;
    /*Rezepte*/
}


h3 {
    text-align: center;
    font-size: initial;
    font-style: oblique;
    font-family: sans-serif;
    /*Titel Getränke auf Quellenseite*/
}


#index {
    background-color: yellowgreen;
    width: 50%;
    height: 45%;
    border: 3px black solid;
    padding: 10px;
    vertical-align: middle;
    display: table-cell;
    min-height: 20em;
}
 
img{
    max-width: 100%;
    height: auto;
}

h5 {
    text-decoration: inherit;
    font-size: 18px
    /*Navigationszeile*/
}

a[href^="#"]:before{
    content:'🔝 ';
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: smaller;
    }
    /*Go to top*/

h6 {
    font-size: 90%;
    /*Inhalt der Navigationszeile*/
}

.text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
}

#Rezept1 {
    font-family: sans-serif;
   }
    
   table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    max-width: 100%;
    height: auto;

   }
    
   
   td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
   }
    
   th {
    background-color: rgb(235,235,235);
   }
    
   td {
    text-align: float right;
   }
    
   tr:nth-child(even) td {
    background-color: rgb(250,250,250);
   }
    
   tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
   }
    
   caption {
    padding: 10px;
   }
   /*Tabelle für Zutaten bei Getränke*/

   .grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    }

    .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    }

    @media only screen and (min-width: 768px) {
        .item1 { grid-column: 1 / span 12; grid-row: 1; }
        .item2 { grid-column: 1 / span 6; grid-row: 2; }
        .item3 { grid-column: 7 / span 6; grid-row: 2; }
        .item4 { grid-column: 1 / span 3; grid-row: 3; }
        .item5 { grid-column: 4 / span 6; grid-row: 3; }
        .item6 { grid-column: 10 / span 3; grid-row: 3; }
        .item7 { grid-column: 1 / span 4; grid-row: 4; }
        .item8 { grid-column: 5 / span 8; grid-row: 4; }  
 /*damit sich die Website dem Bildschirm anpasst*/
 

#fixed a {
    position: fixed;
    bottom: 0px;
    right: 0px;
    text-decoration: none;
    font-size: smaller;
  }
  }/* unten rechts fixierter «top» Link */

dl.bu {
    float: left;
    margin:10px 10px 10px 0;
}
dl.bu dd {
    margin:0;
    font-size:90%;
}